<div class="eqLogic eqLogic-widget allowResize" data-eqType="#eqType#" data-category="#category#" data-tags="#data-tags#" data-eqLogic_id="#id#" data-version="dashboard" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-category="#category#">
	<center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
	<span>#events#</span>
</div>
