<div class="eqLogic eqLogic-widget allowResize" data-eqType="#eqType#" data-category="#category#" data-tags="#data-tags#" data-eqLogic_id="#id#" data-version="dashboard" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-category="#category#">
	<span class="statusCmd" style="position : absolute;left : 5px; width : 30px;"></span>
	<span class="widget-name">
		<span>#name_display# <span class="object_name">#object_name#</span></span><br/>
	</span>
	<div>
		<span>#events#</span>
	</div>
</div>
