<div style="background-color:#background_color#; color:#text_color#; margin-top:2px; border-radius:5px; margin-right:5px; margin-left:5px;">
  <i class="fas fa-times pull-left cursor removeEvent" data-uid="#uid#" style="margin-top:12px;margin-left:2px;"></i>
  <div style="font-weight: bold;">#name#</div>
  <div style="font-size:0.7em;">#start# - #end#</div>
  <script>
    document.querySelector(".removeEvent[data-uid='#uid#']")?.addEventListener('click', function(event) {
      jeeDialog.confirm({
        title: "Suppression",
        message: "Etes-vous sûr de vouloir supprimer cet événement ?"
        },
        function(result) {
          if (result) {
            domUtils.ajax({
              type: 'POST',
              url: 'plugins/calendar/core/ajax/calendar.ajax.php',
              data: {
                action: 'removeOccurrence',
                id: '#event_id#',
                date: '#date#'
              },
              dataType: 'json',
              error: function (request, status, error) {
                domUtils.handleAjaxError(request, status, error)
              },
              success: function(data) {
                if (data.state != 'ok') {
                  jeedomUtils.showAlert({message: data.result, level: "danger"})
                  return
                }
                event.target.parentElement.remove()
              }
            })
          }
        }
      )
    })
  </script>
</div>